[Unit]
Description=Chia plot script

[Service]
ExecStart=/opt/scripts/plot.sh
Restart=always
User={{ ansible_user }}
Group={{ ansible_effective_group_id }}
StandardOutput=append:/var/log/plot/plot.log
StandardError=append:/var/log/plot/plot.error.log

[Install]
WantedBy=multi-user.target
